<!DOCTYPE html>
<html lang="en">
  <%= partial 'partials/head' %>
  <body>
    <!-- Fixed navbar -->
    <%= partial 'partials/navbar' %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
