<div id="home">
  <%= partial 'partials/home' %>
</div>
<div id="page1">
  <%= partial 'partials/page1' %>
</div>
<div id="page2">
  <%= partial 'partials/page2' %>
</div>
<div id="page3">
  <%= partial 'partials/page3' %>
</div>
